<!doctype html>
<html lang="en_CA">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}biscuitsandtea weblog - A blog about Linux{% endblock title %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/monokai.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    </head>
    <body>
        <h1 id="blog-title" title="A weblog about Linux">
            <a href="{{url_for('home')}}">
                biscuitsandtea
            </a>
        </h1>
        <div id="paper">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>