<!doctype html>
<html lang="en_CA">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}biscuitsandtea weblog - A blog about Linux{% endblock title %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/monokai.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    </head>
    <body>
        <h1 id="blog-title">
            <a href="{{url_for('home')}}" title="A weblog about Linux">
                biscuitsandtea
            </a>
            <a href="https://github.com/jameh/biscuitsandtea" title="Fork me on Github!">
                <img id="github-button" src="{{url_for('static', filename='img/github-10-64.png')}}">
            </a>
        </h1>
        {% block content %}{% endblock content %}
    </body>
</html>