img {
    // width: inherit;
    // width: 46em;
    border-radius: 3px;
    border-bottom: 1px;
    
}

.floatright {
    // width: inherit;
    float: right;
    clear: right;
    margin: 0 0 1em 1em;
    border-bottom: 1px;
    /*border: 10px;*/
}

.floatleft {
    // width: inherit;
    float: left;
}