$float-margin: 0 0 1em 1em;

$github-button-width: 50px;

img {
    // width: inherit;
    // width: 46em;
    border-radius: 3px;
    border-bottom: 1px;
    
}

#github-button {
    float: right;
    position: relative;
    top: 28px;
    width: $github-button-width;
}

.floatright {
    // width: inherit;
    float: right;
    clear: right;
    margin: $float-margin;
    border-bottom: 1px;
    /*border: 10px;*/
}

.floatleft {
    // width: inherit;
    float: left;
    clear: left;
    margin: $float-margin;
    border-bottom: 1px;
}